@media only screen and (max-width: 1500px) {
    .main-container {
        width: 62%;
        left: calc(50% - 62% / 2);
    }
}

@media screen and (min-width: 1500px) {
    .main-container {
        width: 40%;
        left: calc(50% - 40% / 2);
    }
}

body {
    background-color: rgba(29, 29, 29, 0.94);
    /* background-color: #eee; */
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-container {
    /* width: 62%; */
    background-color: #965455;
    height: 62%;
    top: calc(50% - 62% / 2);
    /* height: 500px; */
    margin: auto;
    /* display: flex; */
    position: absolute;
    min-width: 823px;
    min-height: 500px;
}

.main-container .title {
    color: #e3c5bb;
    font-size: 2.5em;
    margin-top: 5%;
    margin-left: 5%;
}

.main-container .desc {
    color: #e3c5bb;
    font-size: 0.5em;
    margin-left: 5%;
    opacity: 0.7;
}

.main-container .button {
    display: inline;
    z-index: 10;
}

.main-container .button button {
    position: absolute;
    left: 5%;
    top: 80%;
    border: 1px solid #e3c5bb;
    background-color: transparent;
    /* height: 2.5em; */
    font-size: 1.545em;
    padding: 0.478em;
    color: #e3c5bb;
    cursor: pointer;
    z-index: 10;
}

.main-container .button button:hover {
    opacity: .7;
}

.record-package {
    width: 23em;
    position: absolute;
    bottom: -1em;
    right: -10em;
    z-index: 10;
}

.record-package img {
    width: 100%;
    border: none;
}

@keyframes pull-record {
    to {
        bottom: 5.4em;
        right: -9.7em;
        opacity: 0;
    }

    80% {
        opacity: 0.8;
    }

    85% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.3;
    }

    from {
        bottom: 2.7em;
        right: -5em;
        opacity: 1;
    }
}

@keyframes push-record {
    from {
        bottom: 5.4em;
        right: -9.7em;
    }

    to {
        bottom: 2.7em;
        right: -5em;
    }
}

.record {
    width: 10.6em;
    position: absolute;
    bottom: 2.7em;
    right: -5em;
    z-index: 3;
}

.record2 {
    width: 10.6em;
    position: absolute;
    bottom: 5.4em;
    right: -9.7em;
    z-index: 3;
    opacity: 0;
}

.record2.pull {
    animation-name: pull-record;
    animation-duration: 2s;
}

.record.push {
    animation-name: push-record;
    animation-duration: 3s;
}

.record img {
    width: 100%;
    border: none;
}

.record2 img {
    width: 100%;
    border: none;
}

.name-list {
    margin-left: 5%;
    margin-top: .5em;
    height: 10em;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

@keyframes name-smoth {
    from {
        top: 5em;
        opacity: 0;
    }

    30% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: .3;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

.name-list .item {
    position: absolute;
    opacity: 0;
    animation-name: name-smoth;
    animation-duration: 1s;
}

.lucky-name {
    width: 19em;
    position: absolute;
    top: 30%;
    left: calc(50% - 9.5em);
    animation-name: round-animation;
    animation-duration: 1s;
}

@keyframes round-animation {
    from {
        transform: rotate(-360deg);
        opacity: .1;
        /* width: 5%;
        top: calc(50% - 5% / 2);
        left: calc(50% - 5% / 2); */
    }
    to {
        opacity: 1;
        /* width: 40%;
        top: calc(50% - 40% / 2);
        left: calc(50% - 40% / 2); */
    }
}

@keyframes text-animation {
    from {
        font-size: 1%;
        opacity: .1;
    }
}

.lucky-name img {
    width: 100%;
}

.lucky-name .name {
    position: absolute;
    top: 75%;
    /* animation-name: text-animation;
    animation-duration: 1s; */
    opacity: .8;
    font-size: 20px;
}

.result {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}